/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

/*--------------
     Global 
----------------*/

body{
    margin: 0 ;
    background: url(../wood-wallpaper-10120-10479-hd-wallpapers.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Rancho', cursive;
    letter-spacing: 0.3rem;
}
/*---------------
    Typography 
 ----------------*/
h1, h2, p{
    margin-top: 0em;
    margin-bottom: 0em;
}

h1{
    font-size: 4.5rem;
    color: #800000;
}

h1 span{
    font-size: 6rem;
    color: #fff;
}

h2{
    font-size: 2rem;
    color: #800000;
}

p{
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 0.75em;
}
#message{
    display: grid;
    place-content: center;
    font-size: 3rem;
    margin: 0 auto;
    padding: 0 1em ;}
/*-------------
    Section  
---------------*/


.heading-section{
    margin-top: 0;
    text-align: center;
}

.game-section {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border: solid 2px rgb(119, 3, 3);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .95);
    

}
#overlay{
    display: none;
    position: absolute;
    min-width: 400px;
    height: 70%;
    margin: 0 auto;
    top: 55%;
    left: 0;
    right: 0;
    transform: translateY(-50%); 
    background: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 10px 5px rgba(133, 106, 106, 0.3);
    text-align: center;
    z-index: 1;
}
button{
    border: white;
    background: white;
    color: #800000;
    margin: 0.3em auto;
    padding: 0.75em 2em;
    border-radius: 10px;
    font-size: 1.35rem;
}

button:hover, 
button:focus {
    outline: none;
    color: #fff;
    background: #800000;
}

.square {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}

.snake {
    border: none;
    background-color: green;
    border-radius: 45%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .55);
}

.apple {
    background-color: blue;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .55);
}
